/*
  Navbar stylesheet.
  Pulls colors from the shapesAndColors.css file.
  To be aplied on every page.
*/

.navigator {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 100%;
  background: var(--navigator);
  transition: .4s all ease;
}

.navigator header{
  padding: 54px 0;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  background: var(--header);
}

.navigator ul a {
  display: block;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  line-height: 65px;
  font-size: 1.4rem;
  color: white;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-bottom: 2px solid black;
  transition: .4s all ease;
}

ul li:hover a{
  padding-left: 30px;
}

ul li{
  transition: .4s all ease;
}

ul li:hover{
  background-color: #2b2b5e;
}

.navigator ul a i{
  margin-right: 16px;
}

#toggle_menu{
  display: none;
}

label #open_menu, label #close_menu{
  position: fixed;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 6px;
  box-shadow: -6px 0 12px black;
  transition: all .4s ease;
}

label #open_menu{
  z-index: 0;
  left: 40px;
  top: 55px;
  font-size: 1.5rem;
  padding: 6px 12px;
}

label #close_menu{
  z-index: 999;
  left: -230px;
  top: 58px;
  font-size: 20px;
  padding: 8px 9px;
  opacity: 0;
}

#toggle_menu:checked ~ .navigator {
  left: 0;
}

#toggle_menu:checked ~ label #open_menu {
  opacity: 0;
  pointer-events: none;
}

#toggle_menu:checked ~ label #close_menu {
  left: 230px;
  opacity: 1;
}
